<div id="rtcm-modal-panel" class="w3-modal">
    <div id="rtcm-modal-panel-container" class="w3-modal-content w3-card-4 w3-animate-zoom" ><!--style="max-width:1024px"-->
      <header class="w3-container w3-theme"> 
        <!-- style.display='none' -->
        <span onclick="document.getElementById('rtcm-modal-panel').remove()" 
        class="w3-button w3-display-topright"><i class="icon-cancel" style="font-size:x-large"></i></span>
        <h4> <div id="rtcm-modal-panel-title" > Modal Header</div></h4> <!-- style="font-weight: bold;"-->
      </header>
      <div class="w3-container" >
        <p id="rtcm-modal-panel-content"></p>
        
      </div>
      <footer id="rtcm-modal-panel-footer" class="w3-container w3-light-grey w3-padding">
        <!--<div  ></div>-->
      </footer>
    </div>
  </div>
</div>